p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    width: 100%;
    margin-bottom: 10px;
}

.video-preview {
    display: inline-block;
    vertical-align: top;
}

.video-channel-pfp {
    width: 50px;
}

.video-channel-pfp > img {
    width: 80%;
    border-radius: 30px;
}

.video-information {
    display: inline-block;
    width: 200px;
}

.video-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

.video-author {
    margin-bottom: 4px;
}

.video-author, .video-stats {
    font-size: 14px;
    color: #606060
}
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
